{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 96,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "proseWrap": "preserve",
        "printWidth": 100
      }
    }
  ]
}
